/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

/*div #text-box {
  background-color: white;
  color: red;
}*/

p.name {
  background-color: #3498db;
}

.main {
  /*border: solid 2px black;*/
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  /*opacity: 0.4;*/
  margin: 5px 0px 5px 50px;
  float: left;
  width: 400px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}



div #chat-box {
  text-align: left;
  background-color: white;
  width: 380px;
  position: relative;
  font-family: "Courier New", Courier, monospace;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: 350px;
  overflow: scroll;
  display: block;
  word-wrap: break-word;
}

ul {
    list-style-type: none;
    text-align: left;
    padding-left: 5px; 
    font-family: "Courier New", Courier, monospace;
    color: black;
    background-color: white;

}

div ul #chat-box {
  position: absolute;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
}

.add-item {
  text-align: right;
}

input {
  background: white;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid black;
  border-radius: 0px;
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 10px;
  padding: 5px 05px 5px 05px;
  text-decoration: none;
}

input:hover {
  background: #3cb0fd;
  /*background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);*/
  text-decoration: none;
}

/*input#name {
  background: white;*/
/*input#name {

  background: white;*/
  /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);*/
 /* -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid black;
  border-radius: 0px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 10px;
  padding: 5px 05px 5px 05px;
  text-decoration: none;
}*/
/*div {

  width: 300px;
  position: center;
  background-color: #D8D8DC;


}*/

.people {
  /*border-top:    2px solid black;
  border-right:  2px solid black; 
  border-bottom: 2px solid black;
  border-left: 2px solid black;*/
  background-color: #3498db;
  opacity: .8;
  width: 150px;
  float: left;
  margin: 5px 5px 5px 0px;
  padding: 10px;
  font-weight: bold;

}

#people-bar {
  /*background-color: white;*/
}

.top-bar {
  background: white;
  color: black;
  padding: 0.5rem;
  position: relative;
  overflow: hidden;
  font-family: "Courier New", Courier, monospace;
  /*border: solid 2px black;*/
  background-color:  yellow;
  opacity: .8;
  margin-top: 0px;


}

.top-bar h1 {
  display: inline;
  /*font-size: 1.1rem;*/

}

#top-bar .typicons-message {
  display: inline-block;
  padding: 4px 5px 2px 5px;
}

#top-bar .typicons-minus {
  position: relative;
  top: 3px;
}

.top-bar .left {
  float: left;
}

.top-bar .right {
  float: right;
  padding-top: 5px;
}

#top-bar > * {
  position: relative;
}

#top-bar::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  bottom: -100%;
  opacity: 0.25;
  /*background: radial-gradient(#ffffff, #000000);
  animation: pulse 1s ease alternate infinite;*/
}

.pull-right {
  background: #CC3300;
  /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: 1px solid black;
  border-radius: 0px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  font-size: 10px;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
}

.pull-right:hover {
  /*background: #3cb0fd;*/
  /*background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);*/
  text-decoration: none;
}

.write {
  -webkit-appearance: textfield;
  padding: 1px;
  background-color: white;
  border: 1px solid black;
  margin-right: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  /*border-image-width: initial;*/
  border-image-outset: initial;
  border-image-repeat: initial;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  width: 330px;
  height: 20px;
}

nav {
  width: 59%;
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 30px;
  padding: 15px;
  margin: 0px 450px 5px 50px;
  font-family: "Courier New", Courier, monospace;
  opacity: .8;
  font-weight: 500;
}

nav .box {
  width: 680px;
  font-family: "Courier New", Courier, monospace;
  color: white;
  background-color: black;
  margin: 0px auto;
  padding: 30px;
}

section {
  overflow: hidden;
  width: 680px;
  margin: 0 auto;
  padding: 30px;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
}

section div {
  height: 150px;
  width: 150px;
  box-shadow: 0px 1px 1px 0px #0e0f0e;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  float:left;
  margin: 10px;
  transition: 1s all;
  background-color: white;
}

section div:hover {
  background-color: #CC3300;
  border: 2px solid #000;
  margin-top: -5px;
}

.leave {

  background: white;
  /*background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);*/
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  /*border: 1px solid black;*/
  /*border: 2px solid black;*/
  font-family: "Courier New", Courier, monospace;
  color: black;
  font-size: 10px;
  padding: 5px 0px 5px 5px;
  width: 50px;
  height: 18px;
  margin-left: 572px;
  margin-top: 180px;
  text-decoration: none;
  text-align: center;
  font-size: 12px;
}

a {
  text-decoration: none;
}

.leave:hover {
  background: #3cb0fd;
  /*background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);*/
  text-decoration: none;
}
